<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout (~{::body})}">
<body>
<form th:action="@{/contacts/{id}/edit(id=${contact.getId()})}" method="post">
    <fieldset th:replace="~{new :: contact_fieldset}"></fieldset>
</form>

<button th:hx-delete="@{/contacts/{id}(id=${contact.getId()})}"
        hx-target="body"
        hx-push-url="true"
        hx-confirm="Are you sure you want to delete this contact?">
    Delete Contact
</button>

<p>
    <a href="/contacts">Back</a>
</p>
</body>
</html>